<h2>Contact Inquiries</h2>

<div>
<%= link_to 'New Contact Inquiry', new_contact_path%></div>
<br>
<% @contacts.each do |con|%>
  <div><%= link_to con.subject, contact_path(con) %> <%= link_to 'Delete', contact_path(con), :method=>'delete'%></div>

<%end%>
